<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- <link rel="stylesheet" href="/css/app.css">   -->
    <style>
    body {
      background-color: #ccffcc;
    }

    .header1 {
      text-align: center;
      font-size: 50px;
      width: 100%;
      background-color: #004d00;
    }

    .header1 > a {
      font-size: 50px;
      color: red;
    }

    .header1 a:hover {
      text-decoration: none;
      color: #000000;
    }

    h1 {
      text-align: center;
    }

    p {
      font-size: 25px;
      background-color: #1affb2;
    }

    .footer1 {
      text-align: center;
      font-size: 30px;
      width: 100%;
      background-color: #004d00;
      position: fixed;
      bottom: 0;
      width: 100%;
    }

    .footer1 > a {
      font-size: 30px;
      color: #000000;
    }
    .footer1 > img {
      height: 300px;
      width: 100%;
    }

    .footer1 a:hover {
      text-decoration: none;
      color: #ff1a1a;
    }
    </style>
  </head>
  <body>
    <div class = "header1">
      <a href="/">Vino.</a>
    </div>
    <h1><%=wine.name; %></h1>

    <p>The <%=wine.name; %> wine is <%=wine.color; %> and it is from <%=wine.country; %>. It is a <%=wine.year; %> bottle which costs <%=wine.price; %> and has an alcohol content of <%=wine.alcoholContent; %> We have <%=wine.qty; %> bottles of this wine in stock.

    A description of the wine provided by the producer is as follows:
    <%=wine.description; %>
    <%=wine.img; %> </p>
    <!-- <nav>
    <a href="/wines">Back to Index</a>
  </nav> -->
  <div class = "footer1">
    <img src="/imgs/vineyard.jpg">
    <a href="/wines/new">Back to Your Wine</a>
  </div>
  </body>
</html>
